<!DOCTYPE html>
<html>
  <head>
    <title>RedditcloneProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
    <p>You are logged in as <%= current_user.username %></p>
      <form action="<%= session_url %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <button>Sign Out</button>
      </form>

      <a for="home" href="<%= user_url(current_user) %>">
        <button id="home">Home</button>
      </a>
    <% end %>
    
    <% if flash[:errors] %>
      <p><%= flash[:errors].join(", ") %></p>
    <% end %>
    
    <%= yield %>
  </body>
</html>
