<h1>Edit <%=@kitty.name%> </h1>
<form action="<%=cats_url%>" method="POST">
    <input type="hidden" name="cat[id]" value="<% @kitty.id %>">

    <label for="cat_name">Name:</label> 
    <input 
        id="cat_name" 
        type="text" 
        name="cat[name]" 
        value="<%=@kitty.name%>"> 
    <br/>

    <label for="cat_sex">Sex:</label> 
    M<input 
        id="cat_sex" 
        type="radio" 
        name="cat[sex]" 
        value='<%=@kitty.sex%>'>
    F<input 
        id="sex" 
        type="radio" 
        name="cat[sex]" 
        value='<%=@kitty.sex%>'>
    <br/>

    <label for="cat_color">Color:</label>
    <select id="cat_color" name="cat[color]">
        <option disabled selected>--select color--</option>
        <% Cat::CAT_COLORS.each do |color| %>
            <option value="<%= color.capitalize %>"><%= color.capitalize %></option>
        <% end %>
    </select>
    <br/>

    <label for="cat_birth_date">Birthday:</label>
    <input
        id="cat_birth_date"
        type="date"
        name="cat[birth_date]"
        value='<%= @kitty.birth_date %>'>
    <br/>

    <label for="cat_description">Description:</label>
    <textarea
        id="cat_description"
        type="text"
        name="cat[description]"
        value='<%= @kitty.description %>'></textarea>
    <br/>

    <input type="submit" value="Edit Cat!">
</form>